{{#bs-navbar class='sidebar' as |navbar|}}
  {{#navbar.toggle}}
    <span class="sr-only">Toggle menu</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  {{/navbar.toggle}}
  {{#navbar.content}}
    {{#if account.user}}
      <nav>
        {{link-to 'Register meal' 'meals.new'}}
        {{link-to 'Meals' 'meals'}}
        {{link-to 'Settings' 'settings'}}
      </nav>
    {{else if manager}}
    {{else if admin}}
    {{/if}}
  {{/navbar.content}}
{{/bs-navbar}}
