<div class="panel panel-default">
  <table class="table record-table table-bordered table-striped">
    <tbody>
      <tr>
        <td>#</td>
        <td>{{model.id}}</td>
      </tr>
      <tr>
        <td>Title</td>
        <td>{{model.title}}</td>
      </tr>
      {{#if account.admin}}
        <tr>
          <td>User</td>
          <td>
            {{link-to model.user.label 'users.record' model.user.id}}
          </td>
        </tr>
      {{/if}}
      <tr>
        <td>Calories</td>
        <td>{{model.calories}}</td>
      </tr>
      <tr>
        <td>Date</td>
        <td>{{model.dateFormatted}}</td>
      </tr>
      <tr>
        <td>Time</td>
        <td>{{model.timeFormatted}}</td>
      </tr>
      <tr>
        <td>Time ago</td>
        <td>{{model.dateTimeAgo}}</td>
      </tr>
    </tbody>
  </table>
</div>
